<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <title> Main - Snail </title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	    <link href="/static/css/snail-flatui.css" rel="stylesheet" media="screen">
	    <script src="/static/js/jquery-1.10.2.min.js"></script>
			<script src="/static/js/jquery-ui.min.js"></script>
			<script src="/static/js/jquery.blockUI.js"></script>
			<script src="/static/js/bootstrap.min.js"></script>
			<script src="/static/js/bootstrap-formhelpers-phone.format.js"></script>
			<script src="/static/js/bootstrap-formhelpers-phone.js"></script>
	</head>
	<body>
		<header>
			<div class="navbar">
				<span class="navbar-brand">
					"@ Snail
				</span>
				<span class="nav">
					<div id="modify_tag">OK</div>
				</span>
			</div>
		</header>
		<div class="container-fluid">

			<div class="row-fluid mvxll">
		
				<div class="tabbable"> <!-- Only required for left/right tabs -->
				  <ul class="nav nav-tabs">
				    <li><a href="#appointment" data-toggle="tab">Appointment</a></li>
				    <li class="active"><a href="#register" data-toggle="tab">Register</a></li>
				    <li><a href="#tracking" data-toggle="tab">Tracking</a></li>
				  </ul>

				  <div class="tab-content">
				  	<!-- Appointment -->
				  	<div class="tab-pane span5" id="appointment">
					  	{% for appointment in appointments|sort(attribute='appointment_datetime') %}
					  		Date:{{ appointment.appointment_datetime }}
					  		Name:{{ appointment.name }}
					  		Phone:{{ appointment.phone }}
					  		State:{{ appointment.appointment_status }}
					  		<div class="dropdown state" id="{{ appointment.key.urlsafe() }}">
					  			<select class="select-block">
					  				{% if appointment.appointment_status == 'call' %}
									  	<option value="call" selected="">Call</option>
											<option value="confirmed">Confirmed</option>
											<option value="cancelled">Cancelled</option>
									  	<option value="show">Show</option>

									  {% elif appointment.appointment_status == 'confirmed' %}
									  	<option value="call">Call</option>
											<option value="confirmed" selected="">Confirmed</option>
											<option value="cancelled">Cancelled</option>
									  	<option value="show">Show</option>

									  {% elif appointment.appointment_status == 'cancelled' %}
									  	<option value="call">Call</option>
											<option value="confirmed">Confirmed</option>
											<option value="cancelled" selected="">Cancelled</option>
									  	<option value="show">Show</option>

									  {% else %}
									  	<option value="call">Call</option>
											<option value="confirmed">Confirmed</option>
											<option value="cancelled">Cancelled</option>
									  	<option value="show" selected="">Show</option>
									  {% endif %}
									</select>
								</div>
					  		<br>
					  	{% endfor %}
				  	</div> <!-- appointment end -->

				  	<!-- Register -->
				  	<div class="tab-pane span12 active" id="register">
				      <p>Register</p>
				      <form action="/snail_admin/search/patient/" method="POST">
					      <input id="query_patient_input" type="text" value="" placeholder="search" />
				  			<button id="query_patient_button" type="submit" class="btn btn-primary"> Search </button>
			  			</form>

			  			<div id="patient_info"></div> <!-- patient_info end -->
			  			<div id="register_form"><h2>Registe Application</h2>
								<form class="form-horizontal">

								  <div class="control-group">
								    <label class="control-label" for="inputPassword">Name</label>
								    <div class="controls">
								      <input type="text" id="inputPassword" placeholder="Name">
								    </div>
								  </div>

								  <div class="control-group">
								    <label class="control-label" for="inputEmail">Email</label>
								    <div class="controls">
								      <input type="text" id="inputEmail" placeholder="Email Address">
								    </div>
								  </div>

								  <div class="form-inline">
									  <div class="control-group">
									    <label class="control-label" for="inputAddress">Address</label>
									    <div class="controls">
									      <input type="text" id="inputAddress" placeholder="Home Address">
									      <input type="text" id="inputAddress" placeholder="Zip Code">
									  	</div>
								  	</div>
								  </div>

								  <div class="form-inline">
									  <div class="control-group">
								    	<label class="control-label" for="inputPhone">Phone</label>
								    	<div class="controls">
							    	  	<input type="text" id="inputPhone" placeholder="Phone Primary">
							  				<input type="text" id="inputPhone" placeholder="Phone Secondary">
							  			</div>
								  	</div>
								  </div>

								  <div class="control-group">
								    <label class="control-label" for="inputBirthday">Birthday</label>
								    <div class="controls">
								      <input type="text" id="inputBirthday" placeholder="Birthday">
								    </div>
								  </div>
								  
								  <div class="control-group">
								    <label class="control-label" for="inputBlood">Blood</label>
								    <div class="controls">
								      <input type="text" id="inputBlood" placeholder="Blood Type">
								    </div>
								  </div>
								  
								  <div class="control-group">
								    <label class="control-label" for="inputGender">Gender</label>
								    <div class="controls">
								      <input type="text" id="inputGender" placeholder="Gender">
								    </div>
								  </div>
								  
								  <div class="control-group">
								    <label class="control-label" for="inputSSN">SSN</label>
								    <div class="controls">
								      <input type="text" id="inputSSN" placeholder="SSN">
								    </div>
								  </div>
								  
								  <div class="control-group">
								    <label class="control-label" for="inputDriverLicense">Driver License</label>
								    <div class="controls">
								      <input type="text" id="inputDriverLicense" placeholder="Driver License">
								    </div>
								  </div>

								  <div class="control-group">
								    <label class="control-label" for="inputInsuranceType">Insurance Type</label>
								    <div class="controls">
								      <input type="text" id="inputInsuranceType" placeholder="Insurance Type">
								    </div>
								  </div>

								  <div class="control-group">
								    <label class="control-label" for="inputInsuranceID">Insurance ID</label>
								    <div class="controls">
								      <input type="text" id="inputInsuranceID" placeholder="Insurance ID">
								    </div>
								  </div>
	
								  <div class="control-group">
								      <button type="submit" class="btn">New Patient</button>
								  </div>
								</form>
			  			</div> <!-- register_form end -->
				    </div> <!-- register end -->

				    <!-- Tracking -->
				  	<div class="tab-pane span5" id="tracking">
				      <p>Tracking</p>
				    </div> <!-- tracking end -->
				  </div> <!-- tab-content -->
				</div> <!-- tabbable end -->
			</div> <!-- row-fluid -->
		</div> <!-- container-fluid -->

		<script type="text/javascript">
			$( document ).ready(function() {

				// (Appointment) modify_tag
				$('#modify_tag').hide()

				// (Appointment) Modify Appointment state
				$('select').change(function() {
    			var entity_key = $(this).parent().attr('id')
    			var state = $(this).val()

					url = '/snail_admin/appointment/modify/' + entity_key + '/appointment_status/' + state

					var modify_appointment_result = $.post(url)
					modify_appointment_result.done(function(data){
						$('.navbar').effect('highlight', {color: '#66DD88'}, 2000)
					})

					modify_appointment_result.fail(function(data){
						$('.navbar').effect('highlight', {color: 'red'}, 2000)
					})

				}) // .change end

				// (Register)
				$('#register_form').hide()

				$('#register').on('click', '#query_patient_button', function(){
			  	event.preventDefault();
			  	var search_string = $('#query_patient_input').val()
			  	var textToInsert = ''

			  	$.ajax({
			  		url: "/snail_admin/search/patient/" + search_string,
			  		type: "GET",
			  		dataType: 'json',
			  		success: function(response_json){
			  			if (response_json.length >= 1) {
			  				$('#patient_info').empty()
								$('#register_form').hide()
			  				$('#patient_info').show()

								$.each(response_json, function(index, value){
			  					textToInsert += '<p>'+ value.name + '</p>'
			  					textToInsert += '<p>'+ value.email + '</p>'
			  					textToInsert += '<p>'+ value.ssn + '</p>'
			  					textToInsert += '<p>'+ value.phone + '</p>'
			  				
			  				$('#patient_info').append(textToInsert)
			  				}) // .each end
			  			} // if response_json.length end
			  			
			  			else {
			  				// Show register form for new patient
			  				$('#patient_info').hide()
								$('#register_form').show()
			  			}
			  		}, // success end
			  	}) // .ajax end
				}) // .click end

			}); // document ready end
		</script>

	</body>
	<footer>
	</footer>
</html>


