<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <title> Main - Snail </title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	    <link href="/static/css/snail-flatui.css" rel="stylesheet" media="screen">
	    <script src="http://code.jquery.com/jquery.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/bootstrap-formhelpers-phone.format.js"></script>
		<script src="/static/js/bootstrap-formhelpers-phone.js"></script>
	</head>
	<body>
		<header>
			<div class="navbar">
				<span class="navbar-brand">
					"@ Snail
				</span>
				<span class="nav">
					<button class="btn btn-special1">Call xxxxxxx </button>
				</span>
			</div>
		</header>
		<div class="container-fluid">
			<div class="row-fluid mvxll">
			  	<h2> Schedule An Appointment </h2>
			  	<div class="span5">
			  		<div id="step1" class="mvll">
					<h3>
						<span class="label"> Step 1 : Choose  Your  Doctor </span>
					</h3>
			  		<div class="row-fluid">
			  		{% for doctor in available_doctor %}
	          			<button class="btn btn-warning mls mtm">
	          				<h4>
	          					Dr.: {{ doctor.dr_name }} 
	          				</h4>
	          				<div class="btnfonts">
		          				Dr. specialty: {{ doctor.dr_major }} 
		          			</div>
	    	      			<div class="btnfonts">
	        	  				Dr. Description: {{ doctor.dr_description }} 
	          				</div>
	          			</button>
	          		{% endfor %}
        			</div>
			  		</div> <!-- step1 -->
			  	</div><!--span6(1)-->
			  	<div class="span6 pull-right">
			  		<div id="step2" class="mvll">
			  		<h3>
			  			<span class="label"> Step 2 : Select  A  Date 
			  			</span>
			  		</h3>
			  		<div class="control-group" id="select_date">
    					<input type="xtext" class="input-hg" value="YYYY-MM-DD" id="datepicker" />
					</div><!--select_date-->
			  		</div> <!--step2-->
			  		<div id="step3" class="mvll">
			  		<h3>
			  			<span class="label"> Step 3 : Pick  Time
			  			</span>
			  		</h3>
					<div class="control-group" id="pick_time">
			  		</div> <!-- #pick_time -->
			  		</div><!--step3-->
			  	</div><!--span6(2)-->
			
			  <div class="span8">
					<form id="make_appointment" action="/appointment/make/" method="POST" class="form-horizontal">

			  		<div class="control-group">
			    		<label class="control-label">Dcotor</label>
			    		<div class="controls">
			      		<input name="form_data" class="input-xlarge" type="text" id="doctor_name" value="Lin">
			    		</div>
			  		</div>

					<div class="control-group">
			    		<label class="control-label">Date</label>
			    		<div class="controls">
			      		<input name="form_data" class="input-xlarge" type="text" id="datepicker" />
			    		</div>
			  		</div>

			  		

			  		<br><br><br>
			  		<div class="control-group" id="appointment_summary">
				  		<div class="control-group">
				    		<label class="control-label">Name</label>
				    		<div class="controls">
				      		<input name="form_data" class="input-xlarge" type="text" id="patient_name" placeholder="Name">
				    		</div>
				  		</div>

				  		<div class="control-group">
				    		<label class="control-label">Phone</label>
				    		<div class="controls">
				      		<input name="form_data" type="text" class="input-xlarge bfh-phone" data-country="US">
				    		</div>
				  		</div>

				  		<div class="control-group">
				    		<label class="control-label">Email</label>
				    		<div class="controls">
				      		<input name="form_data" type="email" class="input-xlarge" data-country="US">
				    		</div>
				  		</div>

				  		<div class="control-group">
				    		<label class="control-label">SID</label>
				    		<div class="controls">
				      		<input name="form_data" class="input-xlarge" type="number" id="sid" placeholder="SID">
				    		</div>
				  		</div>

				  		<div class="control-group">
				    		<div class="controls">
				      		<input type="submit" class="btn btn-primary" value="Make An Appointment" />
				    		</div>
				  		</div>
					  </div> <!-- appointment_summary -->
			  	</form> <!-- #make_appointment -->
			  </div> <!-- span8 -->
			</div> <!-- row-fluid -->
		</div> <!-- container-fluid -->

		<script type="text/javascript">
			//
			var doctor = $('#doctor_name').val()
			$( "#datepicker" ).datepicker({
				beforeShowDay: $.datepicker.noWeekends,
				buttonImage: "static/img/planner-primary.png",
				buttonImageOnly: true,
				dateFormat: "yymmdd",
				minDate: 0,
				maxDate: "+3M +10D",
				showOn: "button"}
			); // .datepicker end

			//
			$("#datepicker" ).change(function() {
				// clean up
				$('#pick_time').empty()
				var date = $('#datepicker').val()
  			$.ajax({
  				url: "/appointment/query/timeline/" + doctor + "/" + date,
  				type: "GET",
  				success: function(response_json){
  					response_json = $.parseJSON(response_json)
  					$.each(response_json, function(index, value){
  						//alert(value)
  						$('#pick_time').append("<div class='pick_time pick_timetable'>" + value + "</div>")
  					}); //.each end				
  				} // success end
  			}) //.ajax end
  		}); // .change end


			//$(document).on(events, selector, data, handler);
			$('#pick_time').on('click', '.pick_time', function(){
				alert($(this).text())
			}); // #make_appointment.on end


			//
  		$("#make_appointment").submit(function(event){
			  // Stop form from submitting normally
			  event.preventDefault();

			  var $form = $(this),
			  url = $form.attr( "action" );
			  var form_data = $("input[name='form_data']")
			  var posting = $.post( url, form_data.serialize())

			  posting.done(function(data){
			  	console.log('from server return', data)
			  });
			}); // #make_appointment.submit end

		</script>
	</body>
	<footer>
	</footer>
</html>


