<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <title> Main - Snail </title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	    <link href="/static/css/snail-flatui.css" rel="stylesheet" media="screen">
	    <script src="http://code.jquery.com/jquery.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		<script src="http://malsup.github.io/jquery.blockUI.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/bootstrap-formhelpers-phone.format.js"></script>
		<script src="/static/js/bootstrap-formhelpers-phone.js"></script>
	</head>
	<body>
		<header>
			<div class="navbar">
				<span class="navbar-brand">
					"@ Snail
				</span>
				<span class="nav">
					<label class="btn btn-special1">Call xxxxxxx </label>
				</span>
			</div>
		</header>
		<div class="container-fluid">
			<div class="row-fluid mvxll" id="choose_datetime">
			  	<h2> Schedule An Appointment </h2>
			  	<div class="span5">
			  		<div id="step1" class="mvll">
					<h3>
						<span class="label"> Step 1 : Choose  Your  Doctor </span>
					</h3>
			  		<div class="row-fluid">
			  		{% for doctor in available_doctor %}
	          			<button class="btn btn-warning mls mtm">
	          				<h4>
	          					Dr.:<div class="dr_name">{{ doctor.dr_name }}</div>
	          				</h4>
	          				<div class="btnfonts">
		          				Dr. specialty: {{ doctor.dr_major }} 
		          			</div>
	    	      			<div class="btnfonts">
	        	  				Dr. Description: {{ doctor.dr_description }} 
	          				</div>
	          			</button>
	          		{% endfor %}
        			</div>
			  		</div> <!-- step1 -->
			  	</div><!--span5(1)-->
			  	<div class="span6 pull-right" id="step2_and_step3">
			  		<div id="step2" class="mvll">
			  		<h3>
			  			<span class="label"> Step 2 : Select  A  Date 
			  			</span>
			  		</h3>
			  		<div class="control-group" id="select_date">
    					<input type="xtext" class="input-hg" value="YYYY-MM-DD" id="datepicker" />
					</div><!--select_date-->
			  		</div> <!--step2-->
			  		<div id="step3" class="mvll">
			  		<h3>
			  			<span class="label"> Step 3 : Pick  Time
			  			</span>
			  		</h3>
					<div class="control-group" id="pick_time">
			  		</div> <!-- #pick_time -->
			  		</div><!--step3-->
			  	</div><!--span6(2)-->
			</div><!--row-fluid mvxll-->
			<div class="row-fluid mvxll" id="appointment_form">
				<h2> Leave Your Information </h2>
			  	<div class="mxll">
					<form id="make_appointment" action="/appointment/make/" method="POST" class="form-horizontal">

			  		<div class="control-group span5">
			    		<label class="control-label" style="font-size:30px;">Dcotor</label>
			    		<div class="controls">
			      		<input name="form_data" class="form-control input-hg" type="xtext" id="doctor_name" value="" disabled="false">
			    		</div>
			  		</div>
					<div class="control-group span5" style="margin-left:30px;">
			    		<label class="control-label" style="font-size:30px;">Date</label>
			    		<div class="controls">
			      		<input name="form_data" class="form-control input-hg" type="xtext" id="date" disabled="false"/>
			    		</div>
			  		</div>

			  		<div class="control-group" id="appointment_summary">
			  			<div class="row-fluid">
				  			<div class="control-group span5">
				    			<label class="control-label" style="font-size:30px;">Name</label>
				    			<div class="controls">
				      				<input name="form_data" class="form-control input-hg" type="textx" id="patient_name" autofocus>
				    			</div>
				  			</div>
				  			<div class="control-group span5" style="margin-left:30px;">
				    			<label class="control-label" style="font-size:30px;">SID</label>
				    			<div class="controls">
				      				<input name="form_data" class="form-control input-hg" type="number" id="sid" min="0">
				    			</div>
				  			</div>
				  		</div>
			  			<div class="row-fluid">
				  			<div class="control-group span5">
				    		<label class="control-label" style="font-size:30px;">Phone</label>
				    		<div class="controls">
				      		<input name="form_data" type="textx" class="form-control input-hg bfh-phone" data-country="US">
				    		</div>
				    		</div>
				  			<div class="control-group span5" style="margin-left:30px;">
				    		<label class="control-label" style="font-size:30px;">Email</label>
				    		<div class="controls">
				      		<input name="form_data" type="email" class="form-control input-hg" data-country="US">
				    		</div>
				  			</div>
				  		</div>
				  		<div class="row-fluid">
				  				<input type="submit" class="btn btn-warning input-hg" style="margin-left:500px;height:65px;" value="Revise" id="revise_schedule"/>
				      			<input type="submit" class="btn btn-primary input-hg"
				      			style="margin-left:5px;height:65px;" value="Make An Appointment" />		
				  		</div>
					  </div> <!-- appointment_summary -->
			  	</form> <!-- #make_appointment -->
			  </div> <!-- span8 -->
			</div> <!-- row-fluid -->
		</div> <!-- container-fluid -->

		<script type="text/javascript">
			// Initial
			$('#appointment_form').hide()

			
			// overlay layout
			$.blockUI.defaults.message = null
			$.blockUI.defaults.overlayCSS.cursor = null
			$.blockUI.defaults.overlayCSS.backgroundColor = '#655c89'

			$('#step2_and_step3').block();

			$('.btn-warning').on('click',function(){
				$('#step2_and_step3').unblock();
				$('#step3').block();
			})

			// Step 1
			$(".btn-warning").on('click', function(){
      	var dr_name = $(this).children().children().text()
      	$('#doctor_name').val(dr_name)
      });

			// Step 2.1
			$("#datepicker").datepicker({
				beforeShowDay: $.datepicker.noWeekends,
				buttonImage: "static/img/planner-primary.png",
				buttonImageOnly: true,
				dateFormat: "yymmdd",
				minDate: 0,
				maxDate: "+3M +10D",
				showOn: "button"}
			); // .datepicker end

			// Step 2.2
			$("#datepicker").change(function() {
				// clean up
				$('#pick_time').empty()

				// set date to form for /appointment/make/ handler
				var date = $('#datepicker').val()
				var doctor = $('#doctor_name').val()
				if (!doctor.length) {
					alert('Please choose at least one doctor.')
				} // if end

				else {
	  			$.ajax({
	  				url: "/appointment/query/timeline/" + doctor + "/" + date,
	  				type: "GET",
	  				success: function(response_json){
	  					response_json = $.parseJSON(response_json)
	  					$.each(response_json, function(index, value){
	  						//alert(value)
	  						$('#pick_time').append("<div class='pick_time pick_timetable'>" + value + "</div>")
	  						//
	  						$('#step3').unblock();

	  					}); //.each end				
	  				} // success end
	  			}) //.ajax end	
				} // else end
  		}); // .change end

			// Step 3
			//$(document).on(events, selector, data, handler);
			$('#pick_time').on('click', '.pick_time', function(){
				var dr_name = $('#dr_name').text()
				var time = $(this).text()

				// set time to $('#date') with its value
				// format would be 'YYYYMMDDHH'
				var date = $('#datepicker').val()
				var date_time = date + time
				$('#date').val("")
				$('#date').val(date_time)
				console.log(date_time)

				$('#choose_datetime').hide()
				$('#appointment_form').show()

							//
			//$('input[name=patient_name]').focus();
			$('#patient_name').focus()


			}); // #make_appointment.on end

			//


		// Revise the schedule 
		$("#revise_schedule").on('click',function(){
			$('#choose_datetime').show()
			$('#appointment_form').hide()
			$('#datepicker').empty()
			$('#pick_time').empty()
		});	


  		$("#make_appointment").submit(function(event){
			  // Stop form from submitting normally
			  event.preventDefault();

			  var $form = $(this),
			  url = $form.attr( "action" );
			  var form_data = $("input[name='form_data']")
			  var posting = $.post( url, form_data.serialize())
			  $('#date').removeAttr("disabled", "disabled")
			  $('#doctor_name').removeAttr("disabled", "disabled")

			  posting.done(function(data){
			  	console.log('from server return', data)
			  });
			}); // #make_appointment.submit end

		</script>
	</body>
	<footer>
	</footer>
</html>


